<!DOCTYPE html>
<html>
  <head>
    <title>Blog!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hello <%= username %> !!</h1>
    <% if(docs.length==6 ){ %>
    	<a id="next" href="/blog/<%= username%>?start=<%= docs[5].postid %>">Next</a>
    <% } %>
    <p>Here are your posts: <br>
    	<ul>
   			<% for(let i = 0; i < 5 && i < docs.length ; i++) { %>
        	<li>Title: <%- docs[i].title %>
        		Body: <%- docs[i].body %>
        		Created: <%= new Date(docs[i].created) %>	<br>
        		Modified: <%= new Date(docs[i].modified)	%><br>
        	</li>
   			 <% } %>
		</ul>
  </body>

</html>
